@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.translateHeight {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translateLeft {
  left: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
}
